legend {
    padding-left: 5px;
    padding-right: 5px;
}
.fa-xs.fa-xxs{
    font-size: 0.5rem
}

/* For divs that are hidden */
.hidden{
    display: none;
}

.btn-group-xs > .btn, .btn-xs {
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.hidden{
    display: none;
}

/* .app-main .app-main__inner{
    padding: 0px 0px 0px !important;
} */